<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmall.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.fmall.pojo.User">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shop_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="question" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="answer" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password,shop_name, email, sex, phone, question, answer, role, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fmall_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="querySeller" resultType="com.fmall.pojo.User">
     select * from fmall_user
     where role=1

    </select>
  <select id="querySellerByName" resultType="com.fmall.pojo.User">
    select * from fmall_user
    where
     username like concat('%',#{username},'%')
     and role=1
  </select>
  <select id="queryBuyerByName" resultType="com.fmall.pojo.User">
    select * from fmall_user
    where
     username like concat('%',#{username},'%')
     and role=2
  </select>
  <select id="queryAllApply" resultType="com.fmall.pojo.User">
    select * from fmall_user
    where role=3
  </select>
  <select id="queryApplyByName" resultType="com.fmall.pojo.User">
     select * from fmall_user
    where
     username like concat('%',#{username},'%')
     and role=3
  </select>
  <select id="doAjaxLogin" resultType="com.fmall.pojo.User">
     select *from fmall_user
     where username=#{username}
     and password=#{password}
     and role=0
  </select>
  <select id="queryBuyer" resultType="com.fmall.pojo.User">
    select * from fmall_user
    where role=2
  </select>
  <update id="applyById">
    update fmall_user set role=1
    where id=#{id}
  </update>
  <update id="ReApplyById">
    update fmall_user set role=2,shop_name=null
    where id=#{id}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fmall_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBuyerById">
    delete from fmall_user
    where id=#{id}
    and role =2
  </delete>
  <delete id="deleteSellerById">
    delete from fmall_user
    where id =#{id}
    and role =1
  </delete>
  <insert id="insert" parameterType="com.fmall.pojo.User">
    insert into fmall_user (id, username, password, shop_name,
      email, sex, phone, question,
      answer, role, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}
      #{email,jdbcType=VARCHAR},#{sex,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR},
      #{answer,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.fmall.pojo.User">
    insert into fmall_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="role != null">
        role,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
        now(),
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fmall.pojo.User">
    update fmall_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fmall.pojo.User">
    update fmall_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{role,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="checkUsername" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(1)
    from fmall_user
    where username = #{username}
  </select>
  <select id="checkEmail" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(1)
    from fmall_user
    where email = #{email}
  </select>
  <select id="selectLogin" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from fmall_user
    where username = #{username}
    and password = #{password}
  </select>
  <select id="getQuestion" resultType="java.lang.String" parameterType="java.lang.String">
    select question
    from fmall_user
    where username = #{username}
  </select>
  <select id="checkAnswer" resultType="java.lang.Integer" parameterType="map">
    select count(1)
    from fmall_user
    where username = #{username}
    and question = #{question}
    and answer = #{answer}
  </select>
  <select id="checkPasswordOld" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(1)
    from fmall_user
    where username = #{username}
    and password = #{passwordOld}
  </select>
  <update id="resetPassword" parameterType="map">
    update fmall_user
    set password = #{passwordNew}
    where username = #{username}
  </update>
  <select id="checkRole" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(1)
    from fmall_user
    where username = #{username}
    and role = 1
  </select>
</mapper>