@charset "utf-8";
/* CSS Document */
.box{
	width: 1100px;
	height: 630px;
	/*border: 2px solid black;*/
	margin: 50px auto;
}
.line{
	width: 1px;
	height: 500px;
	border:1px solid  rgba(195,195,195,1.00);
	margin-top: 50px;
}
.single,.selec{
	margin-left: 155px;
}
.selec{
	padding-top: 20px;
}
.register{
	margin-top: 40px;
	margin-left: 220px;
	width: 130px;
}
.fill{
	margin-top: 40px;
	width: 130px;
	margin-left: 50px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(14,104,243,1.00);
}
.log{
	width: 300px;
	transform: translateY(-510px);
	margin-left: 50px;
	background-color: rgba(14,104,243,1.00);
	color: rgba(255,255,255,1.00);
}